.home {
  display: flex;
  align-items: center;
  min-height: calc(100svh - 65px);
}

.text {
  width: 50%;
}

.text > h1 {
  font-size: 3rem;
}

.text > h1 > span {
  font-size: 4rem;
}

.text > h2 {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 70px;
}

.img {
  width: 100%;
}

.hero {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.btns {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.btns>button:nth-child(1) {
    margin-right: 30px;
}

.btns>button:nth-child(1):hover {
    background-color: var(--white);
    color: var(--bg);
}

.btns>button:nth-child(2) {
    background-color: var(--hover);
    border: none;
}

.btns>button:nth-child(2):hover {
    background-color: var(--white);
    color: var(--hover);
}

@media (max-width: 767px) {
    .home {
        flex-direction: column;
        background-position: center;
        background-size: cover;
    }
    
}